body{
font-family:Arial;
background:#0b1320;
color:white;
padding:20px;
}

h1{
text-align:center;
}

.panel{
background:#121b33;
padding:15px;
margin-bottom:20px;
border-radius:8px;
}

input{
margin:4px;
padding:6px;
}

button{
padding:6px 10px;
cursor:pointer;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:8px;
border-bottom:1px solid #2b3555;
text-align:center;
}
